/* HTML: <div class="loader"></div> */
.pageLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--font-l);
    height: 100%;
}

.loader {
    width: 60px;
    aspect-ratio: 0.5;
    display: grid;
}

.loader::before {
    content: '';
    width: 30%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: auto auto 0;
    background: var(--inverted-bg-color);
    animation: l9-0 0.5s cubic-bezier(0, 800, 1, 800) infinite;
}

.loader::after {
    content: '';
    width: 100%;
    aspect-ratio: 1 / cos(30deg);
    margin: 0 auto auto;
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
    background: var(--inverted-bg-color);
    animation: l9-1 0.5s linear infinite;
}

@keyframes l9-0 {
    0%,
    2% {
        translate: 0 0%;
    }

    98%,
    100% {
        translate: 0 -0.2%;
    }
}

@keyframes l9-1 {
    0%,
    5% {
        rotate: 0deg;
    }

    95%,
    100% {
        rotate: -60deg;
    }
}
