.App.dark {
    --bg-color: #0e0e75;
    --inverted-bg-color: #e8e8ea;

    --primary-color: #e8e8ea;
    --secondary-color: #049604;

    --inverted-primary-color: #041c65;
    --inverted-secondary-color: #0449e0;
}